[package]
name = "api_generator"
version = "7.6.0-alpha.1"
description = "Generates source code for elasticsearch package, from the Elasticsearch REST API specs"
authors = ["Elastic and Contributors"]
edition = "2018"
publish = false

[dependencies]
array_tool = "1.0.3"
dialoguer = "0.3.0"
failure = "0.1.5"
Inflector = "0.11.4"
indicatif = "0.12.0"
lazy_static = "1.4.0"
quote = "~0.3"
reduce = "0.1.2"
regex = "1.3.1"
reqwest = "~0.9"
rustfmt-nightly="1.4.8"
semver = "0.9.0"
serde = "~1"
serde_json = "~1"
serde_derive = "~1"
syn = { version = "~0.11", features = ["full"] }
rayon = "1.2.0"
url = "2.1.1"
void = "1.0.2"