[package]
name = "api_generator"
version = "0.1.0"
description = "Generates source code for the Elasticsearch Rust client from REST API specs"
authors = ["Russ Cam <russ.cam@elastic.co>"]
edition = "2018"
publish = false

[dependencies]
dialoguer = "0.3.0"
failure = "0.1.5"
Inflector = "0.11.4"
pbr = "1.0.1"
quote = "~0.3"
reqwest = "0.9.14"
rustfmt-nightly="1.4.8"
serde = "~1"
serde_json = "~1"
serde_derive = "~1"
syn = { version = "~0.11", features = ["full"] }
