[package]
name = "elasticsearch"
version = "0.1.0"
authors = ["Elastic and Contributors"]
description = "A low level Elasticsearch Rust client"
repository = "https://github.com/elastic/elasticsearch-rs"
keywords = ["elasticsearch", "elastic", "search", "lucene"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
reqwest = { version = "0.10.0-alpha.2", features = ["json"] }
url = "1.7.2"
serde = "~1"
serde_json = "~1"

[dev-dependencies]
failure = "0.1.5"
tokio = "=0.2.0-alpha.6"
sysinfo = "0.9.6"