[package]
name = "elasticsearch"
version = "7.6.0-alpha.1"
edition = "2018"
authors = ["Elastic and Contributors"]
description = "Official Elasticsearch Rust client"
repository = "https://github.com/elastic/elasticsearch-rs"
keywords = ["elasticsearch", "elastic", "search", "lucene"]
categories = ["api-bindings", "database"]
documentation = "https://docs.rs/elasticsearch/"
license = "Apache-2.0"
readme = "../README.md"

[features]
default = ["native-tls"]

native-tls = ["reqwest/native-tls"]
rustls-tls = ["reqwest/rustls-tls"]

[dependencies]
base64 = "^0.11"
bytes = "^0.5"
dyn-clone = "~1"
reqwest = { version = "~0.10", default-features = false, features = ["gzip", "json"] }
url = "^2.1"
serde = { version = "~1", features = ["derive"] }
serde_json = "~1"
serde_with = "~1"

[dev-dependencies]
failure = "0.1.5"
futures = "0.3.1"
http = "0.2"
hyper = { version = "0.13", default-features = false, features = ["tcp", "stream"] }
sysinfo = "0.9.6"
tokio = { version = "0.2.0", default-features = false, features = ["macros", "tcp", "time"] }